body {
  color: white;
  background-color: black;
}
.main {
  height: 100%;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100px;
  width: 200px;
  background-color: blue;
}
